* {
    font-size: 18px;
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    font-family: IBM Plex Sans;
}

.wrapper {
    padding: 0;
    margin: 3rem;
}

.navBar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem 0;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.nav_span {
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 18px;
    letter-spacing: 0;
}

.nav_logo {
    position: relative;
}

.nav_logo_text {
    color: rgba(0, 120.89739829301834, 188.06250303983688, 1);
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 12px;
    letter-spacing: 0;
}

.home_sub {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.heading {
    color: rgba(0, 120.89739829301834, 188.06250303983688, 1);
    font-family: IBM Plex Sans;
    text-align: left;
    font-size: 44px;
    width: 100%;
    padding: 1rem 0 1rem 0;
    line-height: 49px;
}

.home_content .para {
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    font-family: IBM Plex Sans;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0;
}

.why_section_sub {
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    font-family: IBM Plex Sans;
    text-align: left;
    letter-spacing: 0;
    width: 50%;
}


.home_div {
    position: relative;
}

.home_content {
    position: relative;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
}

.button_blue {
    background-color: rgba(0, 120.89739829301834, 188.06250303983688, 1);
    display: inline;
    padding: .67rem 1rem;
    border-radius: 1rem;
}

.button_blue a {
    font-family: IBM Plex Sans;
    color: white;
    text-decoration: none;
}

.white_button {
    padding: .67rem 1rem;
    border: 1px solid gray;
    border-radius: 2rem;
    display: inline;
    text-decoration: none;
}

.white_button a {
    font-family: IBM Plex Sans;
    text-decoration: none;
}

.scroll {
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 20px;
    letter-spacing: 0;
}

.about_pledge,
.home,
.socials,
.testmonials {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.pledge,
.why_section {
    display: flex;
    justify-content: space-between;
}

.find_wrap {
    width: 50%;
}

.find_section {
    width: 70%;
}

.testmonial_name {
    padding: 2rem 1rem;
}

.testmonial {
    display: flex;
    width: 100%;
}

.test {
    padding: 1rem 0;
    font-weight: 650;
    text-align: center;
    color: rgba(0, 120.89739829301834, 188.06250303983688, 1);
}


.find_subcontain {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
}

.find_subcontain_reverse {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
}

.image {
    width: 45%;
}

.image img {
    width: 100%;
}

.pledge_text {
    color: rgba(0, 120.89739829301834, 188.06250303983688, 1);
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 34px;
    letter-spacing: 0;
    width: 60%;
}

.pledge_caption {
    border: 1px solid rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 24px;
    border-radius: 2rem;
    display: inline;
    padding: .2rem 2rem;
    letter-spacing: 0;
    margin: 2rem .4rem;
}

.pledge_texts {
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    width: 60%;
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 20px;
    letter-spacing: 0;
    margin: 1rem 0 2rem 0;
}

.social {
    position: relative;
}

.social_left {
    position: relative;
    width: 45%;
    padding-right: 20px;
}

.social_text {
    color: rgba(0, 120.89739829301834, 188.06250303983688, 1);
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 64px;
    letter-spacing: 0;
}

.social_caption {
    display: inline;
    padding: .6rem 1.7rem;
    border-radius: 2rem;
}

.social_para {
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 40px;
    letter-spacing: 0;
}

.why {
    font-size: 25px;
    position: relative;
}

.why_section_para {
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    position: relative;
    font-family: IBM Plex Sans;
    letter-spacing: 0;
}


.find {
    position: relative;
}

.wrap_contain {
    padding: 1rem 0;
    font-weight: 650;
    text-align: center;
    color: rgba(0, 120.89739829301834, 188.06250303983688, 1);
}

.wrap_span {
    color: rgba(125.26875212788582, 134.17675852775574, 139.18750405311584, 1);
    position: relative;
    font-family: IBM Plex Sans;
    font-size: 18px;
    letter-spacing: 0;
}

.sub_footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.left_footer {
    width: 50%;
}

.cool_links {
    width: 30%;
}

.copy {
    display: flex;
    justify-content: space-between;
}

@media (max-width:798px) {
    .wrapper {
        margin: 2rem 1rem;
    }

    .pledge,
    .why_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about_pledge,
    .section_home,
    .socials,
    .testmonials {
        height: 100%;
    }

    .home_sub {
        padding: 2rem 0 0 0;
        position: relative;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }

    .find_section {
        width: 100%;
    }

    .why_section_sub {
        width: 100%;
    }

    .nav_span {
        font-size: 17px;
        letter-spacing: 0;
    }

    .heading {
        width: 100%;
        line-height: 40px;
        font-size: 30px;
        letter-spacing: 1;
        padding: 1rem 0 1rem 0;
    }

    .home_div {
        position: relative;
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .pledge_texts {
        width: 100%;
        font-size: 20px;
        margin: 1rem 0 2rem 0;
    }

    .pledge_text {
        font-size: 30px;
        letter-spacing: 0;
        width: 100%;
    }

    .social_left {
        width: 100%;
        padding-right: 0px;
    }


    .social_para {
        font-family: IBM Plex Sans;
        font-size: 20px;
    }

    .find_wrap {
        width: 100%;
    }

    .buttons {
        justify-content: space-between;
        margin: 1rem 0 1rem 0;
    }

    .button_blue {
        display: inline-block;
        padding: .27rem 1rem;
        border-radius: 1rem;
    }

    .button_blue a {
        text-align: center;
        font-size: 13px;
    }

    .white_button {
        display: block;
        padding: .27rem 1rem;
        border-radius: 1rem;
    }

    .white_button a {
        font-size: 13px;
    }

    .testmonial {
        display: flex;
        width: 100%;
    }

    .testmonial_name {
        padding: 0rem;
    }

    .find_subcontain {
        flex-wrap: wrap;
    }

    .find_subcontain_reverse {
        flex-wrap: wrap-reverse;
    }


    .about_pledge {
        height: 100%;
    }

    .testmonial {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .sub_footer {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
        flex-wrap: wrap;
    }

    .left_footer {
        width: 100%;
        margin: 1.5rem 0;
    }

    .cool_links {
        width: 100%;
    }

    .copy {
        display: flex;
        flex-wrap: wrap;
    }

    .copyright {
        margin: 1rem 0;
    }
}